[Desktop Entry]
Version=1.0
Type=Application
Name=Trading Platform
GenericName=Trading Terminal
Comment=Institutional-grade Algorithmic Trading Platform, Live Charts & AI Copilot
Exec=trading-platform
Icon=${SNAP}/meta/gui/trading-platform.png
Terminal=false
Categories=Office;Finance;Network;
Keywords=Trading;Stocks;Crypto;Forex;Finance;Investing;Charts;
StartupNotify=true
StartupWMClass=TradingPlatform.Desktop
